{% extends "events/dashboard/_base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="main-content">
    <div class="container">
        <div class="row justify-content-center">


            
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header mt-md-5">
                    <div class="header-body">
                      <div class="row align-items-center">
                        <div class="col">
                          
      
                          <!-- Title -->
                          
                          <h1 class="header-title">
                                  <i class="fe fe-edit-3"></i>
                            Event Details
                          </h1>
      
                        </div>
                        <div class="">
                            <a href="{% url 'home' %}" class="text-muted"><span class="fe fe-x-circle mr-4"> Close</span></a>
                          </div>
                      </div> <!-- / .row -->
                      

                    </div>
                  </div>
        
                <form action="{% url 'create-event' %}" method="POST">
            {% csrf_token %}
            
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error  }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        
            {% with WIDGET_ERROR_CLASS='is-invalid' %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {% render_field form.name|add_class:'form-control'|add_error_class:"is-invalid"|attr:'maxlength:255' %}  
                        </div>   
                    </div>     

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                            {% render_field form.category|add_class:'form-control'|add_error_class:"is-invalid" %}
                        </div>
                    </div>
                </div>

                <div class="row">
                
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="{{ form.organizer.id_for_label }}">{{ form.organizer.label }}</label>
                            {% render_field form.organizer|add_class:'form-control'|add_error_class:"is-invalid" %}
                              <div  class="invalid-feedback">
                                  {{ form.organizer.errors }}
                              </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="{{ form.venue.id_for_label }}">{{ form.venue.label }}</label>
                            {% render_field form.venue|add_class:'form-control'|add_error_class:"is-invalid"|attr:'maxlength:255' %}
                              <div class="invalid-feedback">
                                  {{ form.venue.errors }}
                              </div>
                        </div>    
                    </div>
                </div>

                
                <hr class="mt-4 mb-5">


                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <!-- TODO: TEST FOR DATES IN THE PAST AND MAKE SURE THE DATE FOR STARTING AN EVENT IS NOT IN THE PAST -->
                            <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
                            {% render_field form.start_date|add_class:'form-control flatpickr-input'|add_error_class:"is-invalid"|attr:'data-toggle:flatpickr' %}
                      <div class="invalid-feedback">
                          {{ form.start_date.errors }}
                      </div>                              
                        </div>   
                    </div> 
                   
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="{{ form.start_time.id_for_label }}">{{ form.start_time.label }}</label>
                            {% render_field form.start_time|add_class:'form-control'|add_error_class:"is-invalid" %}
                      <div class="invalid-feedback">
                          {{ form.start_time.errors }}
                      </div>                              
                        </div>
                    </div>
                </div>        
                
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
                            {% render_field form.end_date|add_class:'form-control flatpickr-input'|add_error_class:"is-invalid"|attr:'data-toggle:flatpickr' %}
                      <div class="invalid-feedback">
                          {{ form.end_date.errors }}
                      </div>                              
                        </div> 
                    </div>     
                        
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="{{ form.end_time.id_for_label }}">{{ form.end_time.label }}</label>
                            {% render_field form.end_time|add_class:'form-control'|add_error_class:"is-invalid" %}
                      <div class="invalid-feedback">
                          {{ form.end_time.errors }}
                      </div>                              
                        </div>  
                    </div>
                </div> 
                
                <div class="form-group">
                    <label for="{{ form.time_zone.id_for_label }}">{{ form.time_zone.label }}</label>
                    {% render_field form.time_zone|add_class:'form-control'|add_error_class:"is-invalid" %}
                      <div class="invalid-feedback">
                          {{ form.time_zone.errors }}
                      </div>                      
                </div>

                    <div class="form-group">
                        <label>Event Description</label>
                            {{ form.description }}
                    </div>

<!--                    <div class="form-group">-->
<!--                        <div class="custom-control custom-switch">-->
<!--                          <input type="checkbox" class="custom-control-input" id="customSwitch1">-->
<!--                          <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>-->
<!--                        </div>-->
<!--                    </div>-->
            {% endwith %}

            <div class="card bg-light border">
                <div class="card-body">
                  
                  <p class="mb-2">
                    Event Publishing
                  </p>

                  <p class="small text-muted mb-2">
                    Your event won't be published automatically, you can edit  after this step.
                  </p>

                </div>
              </div>
        
            <input type="submit" class="primaryAction btn btn-lg btn-block btn-primary mb-3" value="Create Event">
        </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    $(document).ready(function(){
      $(".flatpickr-input").flatpickr();
    });
</script>
{% endblock extrajs %}