{% extends 'events/dashboard/_base.html' %}
{% load static %}

{% block title %} {{ event.name }}  {% endblock title %}

{% block content%}
        <!-- Alert -->
{% if not event.is_active %}
    <div class="alert alert-danger fade show text-center" role="alert" style="background-color: #e60023;margin-bottom:0;border-radius:0;">
        <strong>Unpublished event : </strong> Sharing unpublished events is not advisable! <a href="{% url 'event-dashboard' event.slug %}">Finish Editing</a>
    </div>
{% else %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light" id="topnav">
    <div class="container">

      <!-- Toggler -->
      <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Brand -->
      <a class="navbar-brand mr-auto" href="index.html">
        <img src="{% static 'events/dashboard/img/mglogo.png' %}" alt="..." class="navbar-brand-img">
      </a>

      <!-- Form -->
      <form class="form-inline mr-4 d-none d-lg-flex">
        <div class="input-group input-group-rounded input-group-merge" data-toggle="lists" data-options="{&quot;valueNames&quot;: [&quot;name&quot;]}">

          <!-- Input -->
          <input type="search" class="form-control form-control-prepended  dropdown-toggle search" data-toggle="dropdown" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fe fe-search"></i>
            </div>
          </div>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-card">
            <div class="card-body">

              <!-- List group -->
              <div class="list-group list-group-flush list my-n3">
                
                <a href="profile-posts.html" class="list-group-item px-0">

                  <div class="row align-items-center">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar">
                        <img src="./assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Title -->
                      <h4 class="text-body mb-1 name">
                        Ab Hadley
                      </h4>

                      <!-- Status -->
                      <p class="text-body small mb-0">
                        <span class="text-danger">●</span> Offline
                      </p>

                    </div>
                  </div> <!-- / .row -->
          
                </a></div>
      
            </div>
          </div> <!-- / .dropdown-menu -->

        </div>
      </form>

      <!-- User -->
      <div class="navbar-user">
  
        <!-- Dropdown -->
        <div class="dropdown">
    
          <!-- Toggle -->
          <a href="#" class="avatar avatar-sm dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'events/dashboard/img/avatars/profiles/avatar-1.jpg' %}" alt="..." class="avatar-img rounded-circle">
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right">
            <a href="profile-posts.html" class="dropdown-item">Profile</a>
            <a href="settings.html" class="dropdown-item">Settings</a>
            <hr class="dropdown-divider">
            <a href="sign-in.html" class="dropdown-item">Logout</a>
          </div>

        </div>


          

      </div>

      <!-- Collapse -->
      <div class="collapse navbar-collapse mr-auto order-lg-first" id="navbar">

        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <input type="search" class="form-control form-control-rounded" placeholder="Search" aria-label="Search">
        </form>


      </div>

    </div> <!-- / .container -->
  </nav>

<div class="main-content">
    <div class="container">

        
        <div class="row justify-content-space-between" style="margin-top: 20px;">
            <div class="col-12 col-lg-7 col-xl-7">
                <div class="card">
                    <img src="{{ event.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h1>
                            {{ event.name }}
                        </h1>
                        <p>Category : {{ event.category  }}</p>
                        
                        <p class="card-text">
                        {{ event.description | safe }}
                        </p>

                        <h3 class="text-underline">Share With Everyone</h3>

                        <a href="#" class="p-3" data-toggle="tooltip" data-placement="top" title data-original-title="Share {{ event.name}}">
                            <img src="{% static 'events/dashboard/img/svg/share.svg' %}" alt="">
                        </a>

                        <a href="#" class="p-3" title="Share {{ event.name}} on Whatsapp">
                            <img src="{% static 'events/dashboard/img/svg/whatsapp.svg' %}" alt="">
                        </a>

                        <a href="#" class="p-3" title="Share {{ event.name}} on Twitter">
                            <img src="{% static 'events/dashboard/img/svg/twitter.svg' %}" alt="">
                        </a>

                        <a href="#" class="p-3" title="Share {{ event.name}} on Facebook">
                            <img src="{% static 'events/dashboard/img/svg/fb.svg' %}" alt="">
                        </a>

                        <a href="#" class="p-3" title="Share {{ event.name}} on Messenger">
                            <img src="{% static 'events/dashboard/img/svg/messenger.svg' %}" alt="">
                        </a>

                        <p>Venue: {{ event.venue }}</p>
                        
<!--                        <h1>Organizer Detail</h1>-->
<!--                        <p>{{ event.organizer }}</p>-->
<!--                        <p>Description : {{ event.organizer.description }}</p>-->
<!--                        <p>Facebook : {{ event.organizer.facebook }}</p>-->
<!--                        <p>Twitter : {{ event.organizer.twitter }}</p>-->
<!--                        <p>Instagram : {{ event.organizer.instagram }}</p>-->
<!--                        <p>LinkedIn : {{ event.organizer.linkedin }}</p>-->
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5 col-xl-5">
                <div class="card">
                    
                        <div class="card-header">
    
                            <h4 class="card-header-title">
                                Organized by <a href="#" target="_blank">{{ event.organizer }}</a>
                                {% block comment %}
                                {% endblock comment %}
                            </h4>
                            
                          </div>

                    <div class="card-body">

                        <div>
                            <span class="fe fe-calendar">
                            </span>

                            Date
                        </div>

                        <div>
                            <span class="fe fe-watch">
                            </span>

                            Date
                        </div>
                    

                        <div>
                            <span class="fe fe-location-pin">
                            </span>

                            Date
                        </div>

                        <!-- <h3>ABOUT US</h3>
                        <p class="card-text">
                            The Ghana Tech Summit is a 12-year initiative. The Summit aims to revitalize Ghana’s entrepreneurial economy and reposition it as a global study of catalyzed innovation within an emerging market country.
                        </p>

                        <h3>WHY GHANA?</h3>
                        <p class="card-text">
                            As the world’s first black nation on the continent of Africa, Ghana has a proud history of inspiring leadership in government, business, and culture. From the rise of tech hubs across the country to the global embrace of azonto in pop culture mainstream dialogues internationally- Ghana is poised to be a leading hub of innovation.
                        </p>

                        <h3>WHO ATTENDS?</h3>
                        <p class="card-text">
                            The Ghana Tech Summit is for local and international industry leaders, entrepreneurs, investors, digital marketers and creatives interested in transforming the world via entrepreneurship.
                        </p> -->

                         

                        <div class="mt-6">
                            <button class="btn btn-success col-12 lift" data-toggle="modal" data-target="#modalVerticalRight">
                                Tickets
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="modal fade fixed-right" id="modalVerticalRight" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-vertical" role="document">
                <form class="modal-content">
                    <div class="modal-body">

                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </a>

                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </div>
                    
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-block btn-primary mt-auto">
                            Preview
                          </button>
                    </div>
                </form>
                </div>
            </div>
                        
        </div>
    </div>
</div>

 
{% endblock content%}