{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/responsive.css' %}" />
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

    <script src="{% static 'users/js/jquery.js' %}"></script>
    <script src="{% static 'users/js/app.js' %}"></script>
  </body>
</html>
