{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<main class="auth-body flex-column">
    <header class="auth-header">
      <h1 class="pb-20">Welcome Back!</h1>
    </header>

    <div class="flex-column form-container">
      <section class="auth-description">
        <div class="flex  mb-20">
        </div>
      </section>

      <form method="POST" action="{% url 'account_login' %}" class="validate-form">
            {% csrf_token %}
            
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="mg-input--wrap validate-input" data-validate="Enter Email">
              <input class="fieldInput" type="email" name="login" required/>
              
              <span class="focus-fieldInput" data-placeholder="Email"></span>

            </div>
          
                  
            <div class="mg-input--wrap validate-input" data-validate="Enter password">
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye-off">
                  <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="zmdi zmdi-eye">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path
                    d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"
                    style="fill: #c7c7c7;"
                    ></path>
                  </svg>
                </i>
              </span>
              
              <!-- <input class="fieldInput" type="password" name="password" required id="id_password" id="id_login" autofocus="autofocus"/> -->
              <input class="fieldInput" type="password" name="password" required/>
              <!-- <div class="errorlist"></div> -->
              <span class="focus-fieldInput" data-placeholder="Password"></span>
            </div>
            
              <!-- <input type="checkbox"  id="id_remember"> -->
              <label class="container flex-row pb-10">
                  <input type="checkbox" name="remember">
                  <span class="checkmark"></span>
                  <p>Remember me</p>
              </label>
        

              <button class="mg-button mg-button--rounded mg-button--positive mg-button--large block col-12-12" type="submit">
                  {% trans "Continue" %}
              </button>
    </form>

      <section class="flex-row al-ctr js-ctr m-20 mt-20">
          <a class="text-blue bold" href="{% url 'account_reset_password' %}">Forgot Password</a>
      </section>

      <section class="flex-row al-ctr js-ctr mt-20">
        <p class="pr-8 text-gray">Don't have an account?</p>
        <a class="text-blue bold" href="{% url 'account_signup' %}">{% trans "Create Account?" %}</a>
      </section>
    </div>

  </main>



{% endblock %}