{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'users/css/intlTelInput.min.css' %}" />
<style>
.iti__flag {background-image: url("{% static 'users/img/flags.png' %}");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("{% static 'users/img/flags@2x.png' %}");}
}
</style>
{% endblock %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main class="auth-body flex-column">
    <header class="auth-header">
      <h1 class="pb-20">{% trans "Sign Up" %}</h1>
    </header>

<!-- <p class="flex-row mb-10 js-ctr al-ctr">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p> -->

<form class="signup validate-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->

  <div class="mg-input--wrap validate-input" data-validate="Enter password">
      <input class="fieldInput" type="email" name="email" required id="id_email"/>
      <span class="focus-fieldInput" data-placeholder="Email"></span>
    </div>

    <div class="itt">
        <input class="fieldInput" type="tel" name="mobile" id="phone" maxlength="20"  required placeholder="Mobile"/>
      </div>

      <div class="mg-input--wrap validate-input" data-validate="Enter password">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye-off">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="zmdi zmdi-eye">
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path
                  d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"
                  style="fill: #c7c7c7;"
                ></path>
              </svg>
            </i>
          </span>

          <input class="fieldInput" type="password" name="password1" required id="id_password1"/>
          <span class="focus-fieldInput" data-placeholder="Password"></span>
        </div>

        <div class="mg-input--wrap validate-input" data-validate="Enter password">
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye-off">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="zmdi zmdi-eye">
                  <path fill="none" d="M0 0h24v24H0V0z"></path>
                  <path
                    d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"
                    style="fill: #c7c7c7;"
                  ></path>
                </svg>
              </i>
            </span>

            <input class="fieldInput" type="password" name="password" required id="id_password2" />
            <span class="focus-fieldInput" data-placeholder="Password (again)"></span>
          </div>
    
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="mg-button mg-button--rounded mg-button--positive mg-button--large block col-12-12" type="submit">
    {% trans "Sign Up" %}
     &raquo;
    </button>

    <section class="flex-row al-ctr js-ctr mt-20">
        <p class="pr-8 text-gray">Already have an account?</p>
        <a class="text-blue bold" href="{{ login_url }}">{% trans "Create Account?" %}</a>
      </section>
</form>

</main>
<script src="{% static 'users/js/intlTelInput.min.js' %}"></script>
<script>
  var input = document.querySelector("#phone");
window.intlTelInput(input);
intlTelInput(input, {

utilsScript:"{% static 'users/js/utils.js' %}",
autoPlaceholder: "aggresive",
nationalMode: false,
customContainer : 'ittt'

});
</script>
{% endblock %}
